﻿@{
    ViewBag.Title = "About";
}

@*Timeline start

@*<div class="container">
    <div class="page-header">
        <h1 id="">Timeline</h1>
    </div>
    <div id="timeline">
        <div class="row timeline-movement timeline-movement-top">
            <div class="timeline-badge timeline-future-movement">
                <a href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="timeline-badge timeline-filter-movement">
                <a href="#">
                    <span class="glyphicon glyphicon-time"></span>
                </a>
            </div>
        </div>
        <div class="row timeline-movement">
            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">19</span>
                <span class="timeline-balloon-date-month">FEB</span>
            </div>

            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Mussum ipsum cacilds</span></li>
                                <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 19/02/2018</small></p> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Mussum ipsum cacilds</span></li>
                                <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 19/02/2018</small></p> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--due -->
        <div class="row timeline-movement">

            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">09</span>
                <span class="timeline-balloon-date-month">MAR</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Mussum ipsum cacilds</span></li>
                                <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 09/03/2018</small></p> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Mussum ipsum cacilds</span></li>
                                <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 09/03/2018</small></p> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row timeline-movement">

            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">02</span>
                <span class="timeline-balloon-date-month">APR</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Mussum ipsum cacilds</span></li>
                                <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 02/04/2018</small></p> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Mussum ipsum cacilds</span></li>
                                <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 02/04/2018</small></p> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

Timeline End*@

@*Bulletin start*@

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-icon">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <i class="fa fa-camera-retro" style="font-size:100px; text-align:center; vertical-align:middle"></i>
                </div>
                <div class="info">
                    <h4 class="text-center">Get inspired and share your best photos</h4>
                    <p>Discover what’s trending according to photographers around the world.
                    Upload your own photos, add comments, vote best pictures and folders. Also, discover featured photos of most talented photographers.</p>
                   
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="box-icon">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <i class="fa fa-camera-retro" style="font-size:100px; text-align:center; vertical-align:middle"></i>
                </div>
                <div class="info">
                    <h4 class="text-center">Get motivated to share your best work</h4>
                    <p>Become part of a community that celebrates incredible photography.</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="box-icon">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <i class="fa fa-camera-retro" style="font-size:100px; text-align:center; vertical-align:middle"></i>
                </div>
                <div class="info">
                    <h4 class="text-center">Get global exposure</h4>
                    <p>Imagine having your photos seen by photographers like you from all over the world.When you upload your photos, they’re shared with Gallery members worldwide.
                        Watch as your photos get reactions from the community—and see if your shot makes it to Popular.</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="box-icon">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <i class="fa fa-camera-retro" style="font-size:100px; text-align:center; vertical-align:middle"></i>
                </div>
                <div class="info">
                    <h4 class="text-center">Connect with photographers everywhere</h4>
                    <p>You’re not just joining a network—you’re joining a real community. Share your thoughts by liking and commenting on photos.</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="box-icon">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <i class="fa fa-camera-retro" style="font-size:100px; text-align:center; vertical-align:middle"></i>
                </div>
                <div class="info">
                    <h4 class="text-center">Loved by people around the world</h4>
                    <p>Join over 13 million other photographers who already use Gallery</p>
                    
                </div>
            </div>
        </div>

    </div>
</div>



 