﻿@model IEnumerable<Gallery.Models.Folder>

@{
    ViewBag.Title = "Index";
}

<h2>Folders</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>    
        <th>
            @Html.ActionLink("Date Added", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("Likes", "Index", new { sortOrder = ViewBag.FolderLikesSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @item.FolderLikes.Count
        </td>
        <td>
            @item.User.NickName
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("View Pictures", "Index", "Picture",new { id = item.Id }, null) |
            @Html.ActionLink("Vote", "Create", "FolderLikes", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>

<img src="@Url.Content("~/Content/Pictures/lake.jpg")" />
