﻿@model Gallery.Models.Picture

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Picture</h4>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
            
        <dd>
            @ViewBag.UserName
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddedPicture)
        </dt>

        <dd>
           @if (Model.AddedPicture != null)
           {
            <img style="width:100%;" src='@Url.Action("Show", "Picture", new { id = Model.Id })' />
           }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @if (Model.Comments != null)
            {
                foreach (Gallery.Models.Comment item in ViewBag.Comments)
                {
                    if (item.UserId == null)
                    {
                        <p>Anonymous:</p><p style="font-style:italic;">@item.AddedComment</p>
                    }
                    else if (item.UserId != null)
                    {
                        <p>@item.User.NickName:</p><p style="font-style:italic;">@item.AddedComment</p>
                    }
                }
            }

            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
