﻿@model IEnumerable<Gallery.Models.Picture>






@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.FolderTitle</h2>
@ViewBag.UserName

<p>
    @Html.ActionLink("Create New", "Create", new { id = ((List<Gallery.Models.Picture>) Model)[0].FolderId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
        
            @if (item.AddedPicture != null)
            {
                <div class="col-md-10">
                    <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                        <img src='@Url.Action("Show", "Picture", new { id = item.Id })' style="width:90%;" />
                    </a>
               </div>
            <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @item.Votes.Count
        </td>
        <td>
            @item.Comments.Count
        </td>
        <td>
            @item.User.NickName
        </td>
        <td>
            
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Add comment", "Create", "Comments", new { id = item.Id }, null) |
            @Html.ActionLink("Vote", "Create", "Votes", new { id = item.Id }, null)
 
        </td>
    </tr>
}

</table>
