﻿@model IEnumerable<Gallery.Models.Picture>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gallery</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="/Home/CreateUser" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<a href="/home/LogIn">Logi sisse</a>


<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Recent</h2>
    </div>
</div>

@*<div class="row">
  
       @foreach (var item in Model)
       {
        <div class="col-md-4">
            <img src='@Url.Action("Show", "Picture", new { id = item.Id })' style="width:100%;" />
        </div>
       }

 </div>*@

<div class="row">
  @foreach (var item in Model)
  {
   <div class="col-md-4">
        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
            <img src='@Url.Action("Show", "Picture", new { id = item.Id })' style="width:100%;" />
        </a>
    </div>

    <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" alt="" />
                </div>
            </div>
        </div>
    </div>
  }
</div>




<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Popular</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/11/OMD51481.jpg" style="width:100%;">
    </div>
    <div class="col-md-3">
        <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/11/OMD51481.jpg" style="width:100%;">
    </div>
    <div class="col-md-3">
        <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/11/OMD51481.jpg" style="width:100%;">
    </div>
    <div class="col-md-3">
        <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/11/OMD51481.jpg" style="width:100%;">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Featured</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/11/OMD51481.jpg" style="width:100%;">
    </div>
    <div class="col-md-4">
        <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/11/OMD51481.jpg" style="width:100%;">
    </div>
    <div class="col-md-4">
        <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/11/OMD51481.jpg" style="width:100%;">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Albums</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/11/OMD51481.jpg" style="width:100%;">
    </div>
    <div class="col-md-2">
        <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/11/OMD51481.jpg" style="width:100%;">
    </div>
    <div class="col-md-2">
        <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/11/OMD51481.jpg" style="width:100%;">
    </div>
    <div class="col-md-2">
        <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/11/OMD51481.jpg" style="width:100%;">
    </div>
    <div class="col-md-2">
        <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/11/OMD51481.jpg" style="width:100%;">
    </div>
    <div class="col-md-2">
        <img src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/11/OMD51481.jpg" style="width:100%;">
    </div>    
</div>