﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    padding: 30px 0px;
}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    right: -55px;
    z-index: 1032;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.container {
    margin-top: 20px;
}


/* Carousel Styles */

.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
}

    .carousel-control.left,
    .carousel-control.right {
        opacity: 1;
        filter: alpha(opacity=100);
        background-image: none;
        background-repeat: no-repeat;
        text-shadow: none;
    }

        .carousel-control.left span {
            padding: 15px;
        }

        .carousel-control.right span {
            padding: 15px;
        }

    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        position: absolute;
        top: 45%;
        z-index: 5;
        display: inline-block;
    }

    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        left: 0;
    }

    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        right: 0;
    }

    .carousel-control.left span,
    .carousel-control.right span {
        background-color: #000;
    }

        .carousel-control.left span:hover,
        .carousel-control.right span:hover {
            opacity: .7;
            filter: alpha(opacity=70);
        }


/* Carousel Header Styles */

.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

    .header-text h2 {
        font-size: 40px;
    }

        .header-text h2 span {
            background-color: #2980b9;
            padding: 10px;
        }

    .header-text h3 span {
        background-color: #000;
        padding: 15px;
    }

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

    .btn-theme:hover {
        color: #000;
        background-color: #fff;
        border-color: #fff;
    }

    /*Contact Styles*/

.jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;
}

.jumbotron-sm {
    padding-top: 24px;
    padding-bottom: 24px;
}

.jumbotron small {
    color: #FFF;
}

.h1 small {
    font-size: 24px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }


/*About Styles*/

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

body {
    padding-top: 50px;
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}

.box-icon {
   
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}

    .box-icon span {
        color: #fff;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}

.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

    .info > a:hover {
        background-color: #0288d1;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        transition: all 0.5s ease 0s;
    }

/*Responise  image*/


#timeline {
    list-style: none;
    position: relative;
}

    #timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 2px;
        background-color: #4997cd;
        left: 50%;
        margin-left: -1.5px;
    }

    #timeline .clearFix {
        clear: both;
        height: 0;
    }

    #timeline .timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        font-size: 1.2em;
        text-align: center;
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -25px;
        background-color: #4997cd;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

        #timeline .timeline-badge span.timeline-balloon-date-day {
            font-size: 1.4em;
        }

        #timeline .timeline-badge span.timeline-balloon-date-month {
            font-size: .7em;
            position: relative;
            top: -10px;
        }

        #timeline .timeline-badge.timeline-filter-movement {
            background-color: #ffffff;
            font-size: 1.7em;
            height: 35px;
            margin-left: -18px;
            width: 35px;
            top: 40px;
        }

            #timeline .timeline-badge.timeline-filter-movement a span {
                color: #4997cd;
                font-size: 1.3em;
                top: -1px;
            }

        #timeline .timeline-badge.timeline-future-movement {
            background-color: #ffffff;
            height: 35px;
            width: 35px;
            font-size: 1.7em;
            top: -16px;
            margin-left: -18px;
        }

            #timeline .timeline-badge.timeline-future-movement a span {
                color: #4997cd;
                font-size: .9em;
                top: 2px;
                left: 1px;
            }

    #timeline .timeline-movement {
        border-bottom: dashed 1px #4997cd;
        position: relative;
    }

        #timeline .timeline-movement.timeline-movement-top {
            height: 60px;
        }

        #timeline .timeline-movement .timeline-item {
            padding: 20px 0;
        }

            #timeline .timeline-movement .timeline-item .timeline-panel {
                border: 1px solid #d4d4d4;
                border-radius: 3px;
                background-color: #FFFFFF;
                color: #666;
                padding: 10px;
                position: relative;
                -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            }

                #timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }

                #timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
                    text-align: right;
                }

                    #timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
                        color: #666;
                    }

                        #timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
                            color: #468c1f;
                            font-size: 1.3em;
                        }

                #timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
                    text-align: left;
                }

                    #timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
                        color: #e2001a;
                        font-size: 1.3em;
                    }